<div class="carousel-container">
  <div class="carousel-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
    >
      <polygon
        points="10,0 0,10 10,20"
        (click)="prevContent()"
        [style.fill]="showPrevButton ? '#c69749' : 'none'"
        [attr.pointer-events]="showPrevButton ? 'auto' : 'none'"
        [style.cursor]="showPrevButton ? 'pointer' : 'default'"
      />
    </svg>

    @if(mediaList && mediaList.length > 0){ @for (content of visibleContent;
    track $index) {
    <div class="content-container">
      <ng-container *ngIf="content.type === 'video'">
        <iframe
          width="560"
          height="315"
          [src]="content.url"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </ng-container>
      <ng-container *ngIf="content.type === 'image'">
        <img
          [src]="content.url"
          alt="screenshot"
          (click)="
            modalService.openPicture(
              content.url.replace('screenshot_med', '1080p')
            )
          "
        />
      </ng-container>
    </div>
    } }

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
    >
      <polygon
        points="0,0 10,10 0,20"
        [style.fill]="showNextButton ? '#c69749' : 'none'"
        [attr.pointer-events]="showNextButton ? 'auto' : 'none'"
        (click)="nextContent()"
        [style.cursor]="showNextButton ? 'pointer' : 'default'"
      />
    </svg>
  </div>
</div>
