<div class="container">
  <div class="list-selection">
    <div class="buttons-container">
      <button
        mat-icon-button
        matPrefix
        (click)="isAdding = true"
        [disabled]="isAdding || isEditing || loadingGames"
      >
        <mat-icon
          [ngStyle]="{
            color: isAdding || isEditing || loadingGames ? 'grey' : 'white'
          }"
          >add</mat-icon
        >
      </button>
      <button
        mat-icon-button
        matSuffix
        (click)="deleteList()"
        [disabled]="loadingGames || !selectedOption || isAdding || isEditing"
      >
        <mat-icon
          [ngStyle]="{
            color:
              loadingGames || !selectedOption || isAdding || isEditing
                ? 'grey'
                : 'white'
          }"
          >delete</mat-icon
        >
      </button>
    </div>
    <mat-selection-list
      #list
      cdkDropList
      #lists="cdkDropList"
      [cdkDropListConnectedTo]="[gamesList]"
      [multiple]="false"
      [cdkDropListData]="listCollection"
      (cdkDropListDropped)="moveBetweenList($event)"
      (selectionChange)="onListSelection($event)"
    >
      @if(isAdding){
      <mat-form-field class="new-list-name" [formGroup]="formGroup">
        <mat-label>Nombre de la lista</mat-label>
        <input
          matInput
          formControlName="title"
          (keydown)="$event.stopPropagation()"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="
            $event.stopPropagation(); isAdding = false; formGroup.reset()
          "
        >
          <mat-icon [ngStyle]="{ color: 'white' }">backspace</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="saveHandler($event)">
          <mat-icon [ngStyle]="{ color: 'white' }">save</mat-icon>
        </button>
      </mat-form-field>
      } @if (listCollection && listCollection.length > 0) {@for (list of
      listCollection; track list) { @if(!list.isEditing){
      <mat-list-option
        [value]="list.id"
        [disabled]="isEditing || isAdding || loadingGames"
        (mouseenter)="getTargetID(list.id)"
        >{{ list.title }}
        <button
          class="editing-button"
          mat-icon-button
          matSuffix
          (click)="$event.stopPropagation(); onEdit(list)"
          [disabled]="isEditing || isAdding || loadingGames"
        >
          <mat-icon [ngStyle]="{ color: 'white' }">edit</mat-icon>
        </button></mat-list-option
      >} @else{
      <mat-form-field class="new-list-name" [formGroup]="formGroup">
        <mat-label>Nombre de la lista</mat-label>
        <input
          matInput
          formControlName="title"
          (keydown)="$event.stopPropagation()"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="
            $event.stopPropagation();
            list.isEditing = false;
            this.isEditing = false;
            formGroup.reset()
          "
        >
          <mat-icon [ngStyle]="{ color: 'white' }">backspace</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="saveHandler($event)">
          <mat-icon [ngStyle]="{ color: 'white' }">save</mat-icon>
        </button>
      </mat-form-field>
      } }}
    </mat-selection-list>
  </div>

  <div
    cdkDropList
    #gamesList="cdkDropList"
    [cdkDropListData]="selectedOption?.games"
    [cdkDropListConnectedTo]="[lists]"
    class="list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="action-buttons">
      <button
        mat-icon-button
        (click)="modalService.openShareLink(generateListLink())"
        [disabled]="!selectedOption"
        color="primary"
      >
        <mat-icon>share</mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="sortGamesByRating()"
        [disabled]="!selectedOption"
        color="primary"
      >
        <mat-icon>sort</mat-icon>
      </button>
      <h1>
        {{ selectedOption?.title }} @if(selectedOption?.games?.length > 0) {
        <span class="game-count">({{ selectedOption?.games?.length }})</span> }
      </h1>
      <button
        mat-icon-button
        [matMenuTriggerFor]="searchMenu"
        [disabled]="!selectedOption"
        color="primary"
        class="add-game-search-menu-button"
      >
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #searchMenu="matMenu" xPosition="before">
        <app-finder
          mode="add"
          (gameAddedSuccessfully)="onListSelection(lastListSelection)"
          [selectedList]="selectedOption?.id"
          (click)="$event.stopPropagation()"
        ></app-finder>
      </mat-menu>
      <button
        mat-icon-button
        [disabled]="gamesFormArray.pristine"
        color="primary"
        (click)="undoChanges()"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        (click)="saveChanges()"
        [disabled]="gamesFormArray.pristine"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>

    @if (selectedOption?.games?.length > 0) { @if(loadingGames){
    <mat-spinner class="loader"></mat-spinner>
    } @else(){
    <div
      cdkDrag
      [cdkDragStartDelay]="delay"
      *ngFor="let game of gamesFormArray.controls; let i = index"
      class="box"
    >
      {{ game.get("name")?.value }}
      <img
        *cdkDragPreview
        [src]="game.get('cover')?.value"
        [alt]="game.get('name')?.value"
      />

      <button mat-button class="rating" (click)="onEditRating(game.value)">
        <mat-progress-spinner
          mode="determinate"
          [color]="game.get('rating')?.value ? 'primary' : 'warn'"
          diameter="30"
          [value]="
            game.get('rating')?.value ? game.get('rating')?.value * 10 : 100
          "
        >
        </mat-progress-spinner>
        <span
          class="rating-number"
          [ngStyle]="{
            color: game.get('rating')?.value
              ? getColor(game.get('rating')?.value)
              : 'red'
          }"
        >
          {{ game.get("rating")?.value ? game.get("rating")?.value : "+" }}
        </span>
      </button>

      <div class="buttons-container">
        <button
          class="btn"
          type="button"
          routerLink="/game/{{ game.get('id')?.value }}"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button class="btn" type="button" (click)="removeGame(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    } } @else if (list.selectedOptions.selected[0]) {
    <p>No hay juegos en esta lista</p>
    } @else {
    <p>Selecciona una lista</p>
    }
  </div>
</div>
