app-nav {
  position: fixed;
  width: 5rem; /* ajusta según sea necesario */
  height: 100%; /* ajusta según sea necesario */
}

main {
  margin-left: 5rem; /* ajusta según sea necesario para evitar la superposición */
}
