<h2>
  {{ pageTitle }}
</h2>

<div class="container">
  <div class="row">
    @for (item of games; track $index) {
    <div class="col-md-4 mb-4 px-20">
      <app-game-card [game]="games[$index]"></app-game-card>
    </div>
    }
  </div>
</div>

<div
  *ngIf="!games"
  role="status"
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  "
></div>

<p *ngIf="games.length < 1" class="text-center text-[#C69749]">
  No hay resultados
</p>
<app-page-nav
  (pageSelected)="navPages($event)"
  [numberOfGames]="games.length"
  [pageNumber]="pageNumber"
></app-page-nav>
