<form class="signup-form" (ngSubmit)="onSubmit()">
    <div class="back-button" (click)="modalService.openLoginModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
      </div>
    <div class="close-icon" (click)="modalService.closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </div>
  
    <h1>Sign Up</h1>
  
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Enter your username" required>
    <br/>
  
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Enter your password" required>
    <br/>
  
    <button type="submit">Sign Up</button>
    <br/>
  </form>
  