<form
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit()"
  class="d-flex"
  role="search"
>
  <input
    class="form-control me-2"
    formControlName="gameName"
    type="search"
    placeholder="Search"
    aria-label="Search"
    (input)="search($any($event.target).value)"
  />
  <button
    class="btn search-button"
    type="submit"
    [disabled]="!searchForm.value.gameName"
  >
    <mat-icon>search</mat-icon>
  </button>
</form>

<ul
  *ngIf="suggestions$ | async as suggestions"
  class="suggestions-list"
  [ngClass]="{
    'nav-mode': mode === 'nav',
    'default-mode': mode === 'default',
    'd-none': !searchForm.value.gameName
  }"
>
  <li
    *ngFor="let suggestion of suggestions"
    class="suggestion-item"
    (click)="selectSuggestion(suggestion)"
  >
    <div class="d-flex align-items-center justify-content-between">
      <span>{{ suggestion.name }}</span>
      <mat-chip-set *ngIf="suggestion.platforms?.length">
        <mat-chip
          *ngFor="let platform of suggestion.platforms.slice(0, 3)"
          class="platform-chip"
          [title]="platform.name"
        >
          {{ platform.name }}
        </mat-chip>
      </mat-chip-set>
    </div>
  </li>
</ul>
