<mat-grid-list cols="20" rowHeight="100px">
  <mat-grid-tile colspan="20" rowspan="3" *ngIf="cover"
    ><img
      [src]="cover"
      onerror="this.src='//img.freepik.com/vector-premium/banner-videojuegos-fondo-juego-cibernetico_705714-84.jpg'"
      alt="Banner"
      class="banner"
    />
  </mat-grid-tile>
  <mat-grid-tile colspan="20" rowspan="3" *ngIf="!cover"
    ><img
      src="//img.freepik.com/vector-premium/banner-videojuegos-fondo-juego-cibernetico_705714-84.jpg"
      alt="Banner"
      class="banner"
    />
  </mat-grid-tile>
</mat-grid-list>

<app-game-details-card [game]="game" class="card" />

<div class="media-container" *ngIf="videos.length > 0 || pictures.length > 0">
  <h1>Media:</h1>
  <app-carousel [videos]="videos" [pictures]="pictures"></app-carousel>
</div>
