<!-- login.component.html -->
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <!-- Icono para cerrar la ventana modal -->
  <div class="close-icon" (click)="modalService.closeModal()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </div>

  <h1>Login</h1>

  <label for="username">Username</label>
  <input type="text" id="username" name="username" formControlName="username" placeholder="Enter your username" required>
  <br/>

  <label for="password">Password</label>
  <input type="password" id="password" name="password" formControlName="password" placeholder="Enter your password" required>
  <br/>

  <button type="submit">Login</button>
  <br/>

  <!-- Enlace para recuperar contraseña -->
  <p><a href="#">Forgot your password?</a></p>

  <!-- Enlace para crear una cuenta -->
  <p>Don't have an account? <a (click)="modalService.openSignUpModal()">Create one</a></p>
</form>
