::ng-deep .mat-dialog-container{
    background-color: #1a1a1a !important;
}

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.close-icon {
    position: absolute !important;
    top: -10px; /* Ajusta la distancia desde la parte superior según tus preferencias */
    right: -10px; /* Ajusta la distancia desde la derecha según tus preferencias */
  }

.close-icon, a{
    cursor: pointer;
}

h1 {
    text-align: center;
}

label {
    margin-top: 10px;
}

h1, label, p, .close-icon{
    color: #C69749;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #333; 
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
