h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #c69749;
  margin: 16px 0 16px;
}

.latest {
  margin-top: 40px;
}

.latest-games {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .latest {
    margin-top: 40px;
  }

  .latest-games {
    margin-bottom: 0px;
  }
}
