<div class="container">
  <h2>Juegos populares</h2>
  <div class="w-100">
    <mat-grid-list cols="4">
      <mat-grid-tile colspan="2" rowspan="2">
        <a class="w-100" [routerLink]="'/game/' + mostVisitedGame.id">
          <img class="w-100" [src]="mostVisitedGameCover" /> </a
      ></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <a class="w-100" [routerLink]="'/game/' + mostWantedGames[0].id">
          <img class="w-100" [src]="mostWantedGamesCovers[0]" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <a class="w-100" [routerLink]="'/game/' + mostWantedGames[1].id">
          <img class="w-100" [src]="mostWantedGamesCovers[1]" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <a class="w-100" [routerLink]="'/game/' + mostPlayingGame.id">
          <img class="w-100" [src]="mostPlayingGameCover" />
        </a>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <a class="w-100" [routerLink]="'/game/' + mostPlayedGame.id">
          <img class="w-100" [src]="mostPlayedGameCover" />
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="latest">
  <h2><a routerLink="/latest">Nuevos lanzamientos</a></h2>
  <div class="d-flex flex-wrap justify-content-center gap-x-4">
    @for (item of latestGames; track $index) {
    <app-game-card
      class="latest-games"
      [game]="latestGames[$index]"
      [minInfo]="true"
    ></app-game-card
    >}
  </div>
</div>
