<div
  class="max-w-sm rounded overflow-hidden shadow-lg shadow-white sm:w-xs relative card"
>
  <div style="position: relative">
    <button
      mat-icon-button
      class="list-add-button"
      (click)="onAddToList($event)"
      style="position: absolute; top: 5px; left: 5px"
    >
      <mat-icon>playlist_add</mat-icon>
    </button>
    <a [routerLink]="['/game', game.id]">
      <img
        class="w-full"
        [src]="
          game.cover
            ? coverURL
            : 'https://www.zedlabz.com/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_900x.gif'
        "
        alt="Cover"
    /></a>
  </div>
  <div class="px-6 py-4">
    <a [routerLink]="['/game', game.id]">
      <div class="font-bold text-xl mb-2 text-[#C69749]">{{ game.name }}</div>
    </a>
    <p class="text-white text-base description">
      {{ descriptionText }}
    </p>
  </div>
  @if(game.platforms && game.platforms[0]){
  <div class="px-6 pt-4 pb-2">
    <button
      *ngFor="let item of game.platforms; let i = index"
      routerLink="/{{
        game.platforms[i].abbreviation
          ? game.platforms[i].abbreviation
          : game.platforms[i].id
      }}"
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
    >
      {{ item.name }}
    </button>
  </div>
  }
</div>
