<div class="sticky top-0">
    <ul class="flex-column gap-32 space-y-16 place-content-between w-20 h-screen float-left bg-[#17082d]">
        <li class="shrink"><button routerLink="/PC"><img src="./assets/img/pc.png" alt="PC"></button></li>
        <li class="shrink"><button routerLink="/PS5"><img src="./assets/img/ps5.png" alt="PS5"></button></li>
        <li class="shrink"><button routerLink="/Series X"><img src="./assets/img/xbox.png" alt="Xbox Series"></button></li>
        <li class="shrink"><button routerLink="/Switch"><img src="./assets/img/switch.png" alt="Switch"></button></li>
    </ul>
</div>
