.login-container {
  display: flex;
  justify-content: center; /* Centra el formulario en la vista móvil */
  align-items: center;

  height: 100vh;
}

img {
  width: 100px;
  height: 100px;
  margin-left: calc(50vw - 60px);
  margin-top: 20px;
}

.login-content {
  width: 100%; /* Hace que el contenedor ocupe el ancho completo */
  height: 100vh; /* Hace que el contenedor ocupe la altura completa */
  background-color: #100829; /* Fondo del formulario */
  border-radius: 0; /* Elimina los bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el formulario */
}

.login-form {
  width: 100%; /* Hace que el formulario ocupe el ancho completo */
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #c69749;
}

mat-form-field {
  width: 300px;
  margin-bottom: 15px;
  margin-left: calc(50vw - 150px);
}

label {
  color: #c69749;
}

p,
label {
  color: #ffffff;
}

p {
  text-align: center;
}

a {
  color: #c69749 !important;
  cursor: pointer;
}

a:hover {
  text-decoration: underline !important;
}

button[type="submit"] {
  width: 100%; /* Hace que el botón ocupe el ancho completo del formulario */
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Media query para dispositivos de escritorio */
@media (min-width: 1279.98px) {
  .login-container {
    justify-content: flex-end; /* Alinea el formulario a la derecha */
    padding: 10px;
  }

  .login-content {
    width: 50vw; /* Hace que el contenedor ocupe la mitad del ancho */
    height: calc(100vh - 20px); /* Altura del formulario */
    border-radius: 8px; /* Bordes redondeados */
  }

  .login-form {
    width: 50%; /* Hace que el formulario ocupe la mitad del ancho */
    margin-top: 20vh; /* Añade margen superior */
    padding: 20px;
    margin: auto;
  }

  input {
    padding: 10px;
    box-sizing: border-box;
  }

  mat-form-field {
    width: 100%;
    margin-left: 0px;
  }

  img {
    margin-left: calc(12vw - 60px);
    margin-top: 20px;
  }
}
