* {
  margin-top: 10px;
}

img {
  margin: 0;
  height: 100%;
  width: 300px;
  object-fit: cover;
}

h1 {
  font-size: 2rem;
  color: white;
  text-overflow: ellipsis;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  color: #c69749;
  text-align: center;
  font-size: 2rem;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

p {
  color: white;
  text-align: justify;
}

h2 {
  font-size: 2rem;
  font-weight: "bold";
}

.rating-card {
  background-color: #3e158aaf;
}

.list-add-button {
  position: absolute;
  top: 0%;
  margin: auto;
  translate: -125px;
  color: gold;
  background-color: rgba(57, 1, 68, 0.979);

  .icon {
    position: relative;
    bottom: 33%;
    left: 10%;
  }
}

.cover {
  position: relative;
  padding: 0px;
}

.rating-header {
  color: white;
  margin: 0;
  font-size: 20px;
}

.rating-display {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.rating-value {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: inline-flex;
}

.stars-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star-icon {
  color: gold;
  font-size: 24px;
  transition: color 0.3s ease;
}

.stars-container.editable:hover .star-icon {
  color: orange;
}

.stars-container.editable {
  cursor: pointer;
}

.logo {
  padding: 5px;
}

.logo {
  img {
    width: 60px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3rem;
  }
}
