::ng-deep {
  mat-grid-tile:nth-child(5) > div {
    align-items: normal !important;
  }
}

* {
  margin-top: 10px;
}

img {
  margin: 0;
  height: 100%;
  width: 300px;
  object-fit: cover;
}

h1 {
  font-size: 3rem;
  color: white;
  text-overflow: ellipsis;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  color: #c69749;
  text-align: center;
  font-size: 2rem;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

p {
  color: white;
  text-align: justify;
}

h2 {
  font-size: 2rem;
  font-weight: "bold";
}

.rating-card {
  background-color: #3e158aaf;
}

.rating {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.rating-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
}

.rating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 350%);
  font-size: 1.5rem;
  font-weight: bold;
}

.list-add-button {
  position: absolute;
  top: 0%;
  margin: auto;
  translate: -125px;
  color: gold;
  background-color: rgba(57, 1, 68, 0.979);

  .icon {
    position: relative;
    bottom: 33%;
    left: 10%;
  }
}

.cover {
  position: relative;
  padding: 0px;
}

.rating-header {
  color: white;
  margin: 0; /* Quitar margen para mejor alineación */
  font-size: 20px; /* Ajustar tamaño del texto según necesites */
}

.rating-display {
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-bottom: 8px; /* Espacio entre el título y la puntuación */
}

.rating-value {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: inline-flex;
}

.stars-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star-icon {
  color: gold;
  font-size: 24px;
  transition: color 0.3s ease; /* Transición para un efecto más suave */
}

.stars-container.editable:hover .star-icon {
  color: orange; /* Cambia el color al pasar el ratón */
}

.stars-container.editable {
  cursor: pointer; /* Cambia el cursor a un icono personalizado */
}
