h1 {
  color: white;
}

.title {
  background-color: rgb(23 8 45);
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 1px #ccc;
}

.list {
  width: 80%;
  height: 85vh;
  max-height: 85vh;
  border: solid 1px #ccc;
  min-height: 60px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #17082d, #2c1b4a);
  border-radius: 4px;
  margin: auto;
  margin-top: 5vh;
  padding: 0px;

  h1 {
    margin: auto;
  }

  p {
    margin: auto;
  }
}

.box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: linear-gradient(to right, #17082d, #2c1b4a);

  font-size: 0.8rem;
}

.rating {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  height: fit-content;
}

.rating-number {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
  font-size: 0.7rem;
  font-weight: bold;
}

@media screen and (min-width: 1280px) {
  .box {
    font-size: 1rem;
  }
}
